.link {
    text-decoration: none;
    color: #fff;
}

.profile-container {
    display: inline-block;
}

.profile-container > img {
    border-radius: 50%;
    border: 1.8px solid #fff;
    margin-right: 6px;
    width: 30px;
    height: 30px;
}