<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
     <mat-icon>menu</mat-icon>
   </button>
   <a class="link" [routerLink]="'/'">{{appName}}</a>
   <span class="spacer"></span>

   <a [routerLink]="'/login'" *ngIf="!_connUser" mat-button class="login-button" aria-label="Login Button">Login</a>
   <button *ngIf="_connUser" mat-button [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger"
   (click)="menuTrigger.openMenu()"
   class="logged-button" aria-label="Logged Button"><span class="profile-container"><img src="{{_connUser.imageUrl}}"></span> {{_connUser.username}}</button>
   <mat-menu #menu="matMenu" [overlapTrigger]="false">
    <span>
        <a [routerLink]="'/settings'" mat-menu-item>
            <mat-icon>settings</mat-icon>
            <span>Settings</span>
        </a>
        <button mat-menu-item (click)="doLogout()">
            <mat-icon>exit_to_app</mat-icon>
            <span>Logout</span>
        </button>
  </span>
  </mat-menu>
 </mat-toolbar>